body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h2 {
  color: #ff9800; /* Warna oranye untuk judul */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #ff9800;
  color: white;
}

tr:nth-child(even) {
  background-color: #ffeb3b;
}

tr:nth-child(odd) {
  background-color: #fff9c4;
}

a {
  color: #ff9800;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn-dashboard {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #ff9800;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn-dashboard:hover {
  background-color: #e68a00;
}
